apiVersion: apps/v1
kind: Deployment
metadata:
  name: nursery-frontend
  labels:
    app: nursery-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nursery-frontend
  template:
    metadata:
      labels:
        app: nursery-frontend
    spec:
      containers:
      - name: nursery-frontend
        image: kavitharc/bloom-haven-nursery-frontend:21
        ports:
        - containerPort: 3000