apiVersion: apps/v1
kind: Deployment
metadata:
  name: nursery-frontend
  labels:
    app: nursery-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nursery-frontend
  template:
    metadata:
      labels:
        app: nursery-frontend
    spec:
      containers:
      - name: nursery-frontend
        image: kavitharc/bloom-haven-nursery-frontend:28
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: nginx.conf
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config
          items:
          - key: nginx.conf
            path: nginx.conf